body {
    background-color: white;
    color: black;
    transition: background 0.5s, color 0.5s;
}

h1, h2 {
    color: black;
    text-align: center;
}

li {
    color: black;
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.5s, color 0.5s;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode li, 
.dark-mode p {
    color: white;
}

.dark-mode a {
    color: #4da6ff;
}

.toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.toggle-btn:hover {
    background-color: #555;
}


img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
